*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.App{
  font-family: Arial, Helvetica,sans-serif;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.Calculator{
  width: 300px;
  height: 600px;
  height: 50%;
}